table, th, td, caption{
    border: 1px black solid;
    border-collapse: collapse;
}

table th{
    background-color: grey;
}

table > tbody{
    text-align: left;
}

table > caption{
    border-radius: 15px 15px 0 0;
    border-left: dotted;
    background-color: #00bcd4;
}

td{
    border-radius: 15px;
    counter-increment: td-element;
    padding: 1rem;
}

tr{
    --td-number(counter(td-element))
    content: attr(data-td-count var(--td-number));
    counter-reset: td-elements;
}


tr[data-td-count|="4"] > td{
    width: 25%;
    background-color: grey;
}

tr[data-td-count|="2"] > td{
    width: 50%;
    background-color: grey;
    text-decoration: black;
}

td[colspan="2"]::first-line{
    font-weight: bold;
}

.td-col-3{
    column-span: 3;
}

@keyframes bill-movement {
    /*0% {transform: matrix(1, -1, 1, 1, 0, 0);}*/
    /*50% {transform: matrix(1, -1, 1, 1, 450, 0); z-index: 2;}*/
    /*100%{transform: matrix(1, -1, 1, 1, 650, 210);z-index: 2;}*/
    /*0% {left: 0;top:0;}*/
    /*50%{left: 5rem;top:50rem;z-index: 2;}*/
    /*100%{left: 0;top:0;z-index: 2;}*/
}

.bill-container{
    z-index: -2;
    position: relative;
}

 .bill {
    box-shadow:0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    width: 50rem;
    height: 10rem;
    opacity: 95%;
    font-family: Diplomata, Verdana, Geneva, Tahoma, sans-serif;
    border: 2px black solid;
    border-left: dotted;
    border-radius: 0 0 15px 15px;
    /*transform: matrix(1, -1, 1, 1, 450, -450);*/
    transition: transform 2s;
    position: relative;
    animation-name: bill-movement;
    z-index: -1;
    animation-duration: 0s;
    background-color: #00bcd4;
    animation-iteration-count: revert;
    animation-fill-mode: forwards;
 }

 .bill:hover {
     animation-duration: 4S;
 }

 .bill > table {
     border-radius: 15px;
 }