@font-face {
   font-family: Pacifico, Diplomata;
   src: url(../fonts/Pacifico-Regular.ttf);
   src: url(../fonts/DiplomataSC-Regular.ttf);
}

body{
   background: url(../images/wood-1853403_1280.jpg) repeat;
   font-family: Pacifico, Verdana, Geneva, Tahoma, sans-serif;
   z-index: -99999;
   position: absolute;
}

#header-letter{
   font-family: Diplomata, Verdana, Geneva, Tahoma, sans-serif;
}

.letter {
   margin: 2rem 5rem;
   padding: 3rem;
   background-color: beige;
   box-shadow:0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
   z-index: 1;
}

.letter [ol][ul]{
   list-style-position: inside;
   padding: 1em;
}

.letter ol > li{
   list-style-type:decimal ;
}
.letter ul > li{
   list-style-type: circle;
}

.text-italic{
   font-style: italic;
}

.text-bold{
   font-weight: bold;
}